html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f8f8;
}

/* .App {

} */

.nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: #555;
}

.nav li:hover {
    background-color: #777;
}

/* CONTAINER */

.app-container {
    padding: 20px;
    width: 95vh;
    height: 95vh;
}

/* NODES */

.box {
    position: flex;
    cursor: move;
    color: black;
    border: 1px solid black;
    max-width: 215px;
    border-radius: 5px;
    padding: 1em;
    margin: auto;
    user-select: none;
    justify-content: center;
    align-items: center;
  }

.input {
    border: none;
    padding: 0 2px;
    border-radius: 1px;
    font-size: 1rem;
    font-weight: 700;
    background: transparent;
    height: 100%;
    color: #222;
}

.input:focus {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.25);
}

.handle {
    background: transparent;
    width: 14px;
    height: 100%;
    margin-right: 4px;
    display: flex;
    align-items: center;
}

.delete-button {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    background: #eee;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 50%;
    font-size: 12px;
    line-height: 1;
}

/* EDGES */
