:root {
	--darkBlue: #073175;
	--medBlue: #1c3a7f;
	--offWhite: antiquewhite;
    --mint: #296e90;
    --lightMint: #70ecc7;
    --blue: #1a56a0;
    --lightBlue: #42a3f9;
    --yellow: #566463;
    --lightYellow: #f7cd41;
    --purple: #374e99;
    --lightPurple: #9a8be3;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: var(--lightMint);
	background-color: var(--darkBlue);
	overflow: hidden;
}

input {
	border: none;
	font-size: 1rem;
	font-weight: 600;
	background: transparent;
    color: var(--lightMint);
	font-family: 'Montserrat', sans-serif;
}

input:focus {
	border: none;
	outline: none;
	background: rgba(255, 255, 255, 0.25);
}

.icon {
	cursor: pointer;
	opacity: 0.3;
}

.icon:hover {
	opacity: 1;
}

/* THEME */

/* NAV */

.nav {
    height: 50px;
	background-color: var(--medBlue);
	display: flex;
	justify-content: space-between;
	align-items: space-between;
	gap: 2rem;
	padding: 0 1rem;
}

.site-title {
	font-size: 2rem;
}

.nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	align-items: center;
	padding: 0.25rem;
}

.nav a {
	color: inherit;
	text-decoration: none;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0.25rem;
	opacity: 0.7;
}

.nav a:hover {
	opacity: 1;
}

/* FORMS */

/* LIBRARY */

.library-title {
	text-align: center;
    color: var(--mint);
}

.library {
	padding: 0px 40px;
	display: flex;
}

.library-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0px 0px 20px;
	padding: 10px;
	border: solid 1px var(--mint);
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	background: transparent;
	cursor: pointer;
}

.not-editing:hover {
	background: var(--mint);
	color: var(--lightMint);
	transition: 0.5s;
}

/* MAP  */

.map-container {
	position: absolute;
}

.node {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	padding: 1em;
	background-color: var(--mint);
    color: var(--lightMint);
	z-index: 2;
}

.node:hover {
	border: 1px solid var(--mint);
}

.node .icon {
    opacity: 0;
  }

.node:hover .icon {
    opacity: 1;
}

.handle {
	cursor: move;
}

.add-icon {
	cursor: pointer;
	position: absolute;
	opacity: 0;
}

.add-icon:hover {
	opacity: 0.8;
	transition: 0.5s ease-in-out;
}

.add-top {
	top: -12px;
	left: 50%;
	transform: translateX(-50%);
}

.add-right {
	top: 50%;
	right: -12px;
	transform: translateY(-50%);
}

.add-bottom {
	bottom: -12px;
	left: 50%;
	transform: translateX(-50%);
}

.add-left {
	top: 50%;
	left: -12px;
	transform: translateY(-50%);
	opacity: 0;
}

.line {
    background-color;: var(--mint)
}

/* NODE MENU */

/* .background {
	background: var(--darkBlue);
}

.gradient {
	background: linear-gradient(to right, rgb(67, 124, 205), rgb(69, 214, 202));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gradient-border {
	padding: 10px;
	box-shadow: 0 0 0 2px rgba(67, 124, 205, 0.5), 0 0 0 4px rgba(69, 214, 202, 0.5);
}

.gradient-line {
	background-image: linear-gradient(to right, rgb(67, 124, 205), rgb(69, 214, 202));
    z-index: 1;
} */
