html,
body,
#root {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	background-color: #f8f8f8;
	overflow: hidden;
}

.App {

}

.nav {
	background-color: #333;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: space-between;
	gap: 2rem;
	padding: 0 1rem;
}

.site-title {
	font-size: 2rem;
}

.nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	align-items: center;
	padding: 0.25rem;
}

.nav a {
	color: inherit;
	text-decoration: none;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0.25rem;
}

.nav li.active {
	background-color: #555;
}

.nav li:hover {
	background-color: #777;
}

/* NODES */

.node {
    display: flex;
    justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 5px;
	padding: 1em;
}

.node:hover {
	border: 0.5px solid lightslategray;
}

.handle {
    cursor: move;
    padding-right: 10px;
}

.input {
    width: auto;
    border: none;
	border-radius: 1px;
	font-size: 1rem;
	font-weight: 700;
	background: transparent;
	color: #222;
}

.input:focus {
	border: none;
	outline: none;
	background: rgba(255, 255, 255, 0.25);
}

.add-top {
	cursor: pointer;
	position: absolute;
	top: -12px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
}

.add-top:hover {
	opacity: 0.8;
	transition: 0.5s ease-in-out;
}

.add-right {
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: -12px;
	transform: translateY(-50%);
	opacity: 0;
}

.add-right:hover {
	opacity: 0.8;
	transition: 0.5s ease-in-out;
}

.add-bottom {
	cursor: pointer;
	position: absolute;
	bottom: -12px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
}

.add-bottom:hover {
	opacity: 0.8;
	transition: 0.5s ease-in-out;
}

.add-left {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: -12px;
	transform: translateY(-50%);
	opacity: 0;
}

.add-left:hover {
	opacity: 0.8;
	transition: 0.5s ease-in-out;
}

/* NODE MENU */

.icon {
	cursor: pointer;
}
